<% if form.object.errors.any? %>
<ul class='errors'>
  <% form.object.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>
<% end %>
<%= content_tag :div, class: 'field' do %>
  <%= form.label :name %>
  <%= form.text_field :name %>
<% end %>
<%= content_tag :div, class: 'field' do %>
  <%= form.label :description %>
  <%= form.text_field :description %>
<% end %>
<%= content_tag :div, class: 'field' do %>
  <%= form.label :start_date %>
  <%= form.date_select :start_date %>
<% end %>
<%= content_tag :div, class: 'field' do %>
  <%= form.label :end_date %>
  <%= form.date_select :end_date %>
<% end %>
<%= content_tag :div, class: 'field' do %>
  <%= form.label :one_day %>
  <%= form.check_box :one_day %>
<% end %>
<%= form.submit "Save" %>
or
<%= link_to "Cancel", @event %>