<h1>All timelines</h1>

<%= content_tag :ul, class: 'timelines' do %>
  <% @timelines.each do |timeline| %>
    <%= content_tag :li, timeline, class: "timeline #{cycle('even','odd')}", id: "timeline_#{timeline.id}" do %>
      <%= link_to timeline.name, timeline %>
    <% end %>
  <% end %>
<% end %>

<%= content_tag :div, class: 'actions' do %>
  <%= link_to 'New Timeline', new_timeline_path %>
<% end %>
